:root {
  --color-primary: #9eb23b;
  --color-secundary: #c7d36f;
  --color-primary-light: #fcf9c6;
  --color-secundary-light: #e0deca;
  --color-font-light: #ffd8d8;
  --color-font-dark: #250f0d;
  --color-button-normal: #5e682e;
  --color-button-hover: #545d2b;
}

.navbar-custom {
  background-color: var(--color-primary);
  border-bottom: 1px solid;
}
.link-menu-custom {
  color: var(--color-font-dark);
}
.link-menu-custom:hover {
  color: #250f0d;
}
/* page login */

.page-login-custom {
  background-color: var(--color-secundary-light);
  height: 100vh;
}

.container-form-login-custom {
  background-color: var(--color-secundary);
  max-width: 600px;
  border: 1px solid;
  box-shadow: 0 0 6px -2px brown;
}

/* page register */

.page-register-custom {
  background-color: var(--color-secundary-light);
  min-height: 100vh;
  height: max-content;
}

.container-form-register-custom {
  background-color: var(--color-secundary);
  max-width: 600px;
  box-shadow: 0 0 6px -2px brown;
  border: 1px solid;
  height: max-content;
}

/* page edit profile */
.page-editprofile-custom {
  background-color: var(--color-secundary-light);
  height: 100vh;
}

/* page profile */

.page-profile-custom {
  background-color: var(--color-secundary-light);
  height: max-content;
  min-height: 100vh;
}

.container-profile-custom {
  background-color: var(--color-secundary);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: 1px solid;
}

.text-style-botton {
  background-color: var(--color-button-normal);
  border: 0.5px solid;
  color: var(--color-font-light);
}

.section-bio-custom,
.section-frustrations-custom,
.section-goals-custom,
.section-personality-custom,
.section-motivations-custom {
  font-size: 90%;
  background-color: var(--color-secundary-light);
}

/* page details post */
.page-post-details-custom {
  height: max-content;
  min-height: 100vh;
  background-color: var(--color-secundary-light);
}

.title-post-details-custom {
  color: var(--color-font-dark);
}

.container-post-details-custom {
  height: max-content;
  max-width: 1000px;
  background-color: var(--color-secundary);
  border: 1px solid;
}

.title-comments-custom {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--color-font-dark);
}
.container-comments-custom {
  background-color: var(--color-secundary-light);
  border: 1px solid;
}

.post-on-post-details-custom {
  background-color: var(--color-secundary-light);
  border: 1px solid;
}

.one-comment-custom {
  background-color: var(--color-primary-light);
  color: var(--color-font-dark);
  border: 1px solid;
}

/* page posts  */

.page-posts-custom {
  background-color: var(--color-secundary-light);
  height: max-content;
  min-height: 100vh;
}

.title-posts-custom {
  color: var(--color-font-dark);
}

.container-post-custom {
  background-color: var(--color-secundary);
  border: 1px solid;
}

.card-cardPosts {
  background-color: var(--color-secundary-light);
  cursor: pointer;
  border: 1px solid;
  transition: transform 0.2s;
  box-shadow: none;
  color: var(--color-font-dark);
  width: 18rem;
}

.card-cardPosts:hover {
  box-shadow: 0 0 4px -1px;
  width: 18rem;
  transform: scale(1.01);
}

.loading-custom {
  background-color: var(--color-secundary-light);
  height: 100vh;
}

.active > .page-link,
.page-link.active {
  background-color: var(--color-button-normal) !important;
  color: var(--color-font-light);
  border-color: var(--color-button-hover);
}

/* page post  */
.page-post-custom {
  background-color: var(--color-secundary-light);
  height: max-content;
  min-height: 100vh;
}

.container-form-post-custom {
  background-color: var(--color-secundary);
  border: 1px solid;
  max-width: 600px;
}

/* .button-update-post {
  
} */

.buttons-custom {
  background-color: var(--color-button-normal) !important;
  border: none;
}

.buttons-custom :hover,
.buttons-custom:active {
  background-color: var(--color-button-hover) !important;
}
