body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-cardPosts {
  /* background-color: rgb(194, 194, 236); */
  background-color: rgb(247, 255, 207);
  cursor: pointer;
  border: 1px solid;
  transition: transform 0.2s;
  box-shadow: none;
}

.card-cardPosts:hover {
  box-shadow: 0 0 4px -1px;
  width: 18rem;
  transform: scale(1.01);
}
